* {
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;;
}

body {
    background-color: #FFF8DC;
}

h1 {
    text-align: center;
    color: #191970;
}

section {
    border: 2px solid black;
    background-color: #D8BFD8;
    margin: 10px;
}

section>h2 {
    float: right;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    margin: 0;
    width: 230px;
    text-align: center;
    font-style: Times;
    font-size: 24px;
    font-weight: bold;
    height: 45px;
    padding-top: 10px;
  position: relative;
  top: 0;
  right: 0;
}

section.box_1>h2 {
    background-color: #FFD700;
}

section.box_2>h2 {
    color: #e2e2e2;
    background-color: #008080;
}

section.box_3>h2 {
    background-color: #B0E0E6;
}

section>p {
    padding: 40px 15px 15px 15px;
}

.adjust{
    width: 100%;
    position: relative;
}

/********** Desktop devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
  	float: left;
    width: 33.33%;
  }
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,.col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
  section.box_3{
    clear: both;
    margin-right: 65px;
    width: 100px;
  }

}
/********** Mobile devices only **********/
@media (min-width: 0px) and (max-width: 767px) {
  .col-sm-12 {
  	float: left;
    width: 100%;
  }
  h2{
    margin-right: 30px;
  }
}
